[submodule "deps/spirv_cross"]
	path = deps/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "deps/meshoptimizer"]
	path = deps/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "deps/shaderc"]
	path = deps/shaderc
	url = https://github.com/google/shaderc.git
[submodule "deps/glslang"]
	path = deps/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
